<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Node6</key>
	<dict>
		<key>RelatedNodes</key>
		<array>
			<string>Node1</string>
		</array>
		<key>Colour</key>
		<integer>3</integer>
		<key>Size</key>
		<integer>30</integer>
	</dict>
	<key>Node5</key>
	<dict>
		<key>RelatedNodes</key>
		<array>
			<string>Node4</string>
			<string>Node1</string>
		</array>
		<key>Colour</key>
		<integer>2</integer>
		<key>Size</key>
		<integer>5</integer>
	</dict>
	<key>Node4</key>
	<dict>
		<key>RelatedNodes</key>
		<array>
			<string>Node5</string>
		</array>
		<key>Colour</key>
		<integer>0</integer>
		<key>Size</key>
		<integer>50</integer>
	</dict>
	<key>Node3</key>
	<dict>
		<key>RelatedNodes</key>
		<array/>
		<key>Colour</key>
		<integer>3</integer>
		<key>Size</key>
		<integer>5</integer>
	</dict>
	<key>Node2</key>
	<dict>
		<key>RelatedNodes</key>
		<array>
			<string>Node1</string>
		</array>
		<key>Colour</key>
		<integer>2</integer>
		<key>Size</key>
		<integer>100</integer>
	</dict>
	<key>Node1</key>
	<dict>
		<key>RelatedNodes</key>
		<array/>
		<key>Colour</key>
		<integer>1</integer>
		<key>Size</key>
		<integer>200</integer>
	</dict>
</dict>
</plist>
